body {
    margin: 0;
    padding: 0;
    background-color: #1d2634;
    color: #9e9ea4;
    font-family: 'Montserrat', sans-serif;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }
  
  
  
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    flex-direction: column;
    column-gap: 100px;
    row-gap: 50px;
    margin-top: 40px;
    
  }
  
  
  .card {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    height: 100%;  
    color:aliceblue;
  
  }
  
  
  
  
  .card:first-child {
    background-color: #ff293e;
  }
  
  .card:nth-child(2) {
    background-color: #ff6d00;
  }
  
  .card:nth-child(3) {
    background-color: #2e7d32;
  }
  
  .card:nth-child(4) {
    background-color: #d50000;
    margin-top: 20px;
  }
  
  .card:nth-child(5) {
    background-color: #08855d;
    margin-top: 20px;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }